body {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
}

/* NAV-BAR */

.nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
}

.nav-bar {
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    display: flex;
    height: 90px;
    box-shadow: 0 0 10px #cac4c4;
}

.nav-bar h4 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .right-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 54px;
    gap: 56px;
    opacity: 0px;
}

.right-pane a {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #252D42;
    text-decoration: none;
}

.right-pane a:hover,
.right-pane a:active,
.right-pane a:visited {
    cursor: pointer;
    opacity: 70%;
}


.right-pane .create-btn {
    display: flex;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF5722;
}

.right-pane .create-btn:hover {
    cursor: pointer;
    transform: scale(98%);
    transition: 0.3s;
    box-shadow: 0 0 3px #FF5722;
}

/* HERO SECTION */

.hero {
    background-image: url(images/header-img.png);
    background-size: cover;
    height: 628px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 258px;
    width: 835px;
    height: 221px;
    gap: 20px;
    margin-top: -70px;
}

.hero-section h1 {
    margin-top: 0;
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    line-height: 81.2px;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0
}

.hero-sub-text {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 27px;
    gap: 10px;
    opacity: 0px;
    color: #FF5722;
}

.hero-sub-text p {
    font-size: 20px;
    font-weight: 700;
    line-height: 27.32px;
    text-align: center;
}

.hero-sub-text svg {
    fill: #FF5722;
    width: 35px;
}

/* Hero Footer */

.hero-footer {
    font-size: 14px;
    color: #FFFFFF;
    width: 100%;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    padding: 0 50px;
    background: #10375C;
    height: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 28px #33333340;

}

.what,
.loc,
.when {
    display: flex;
    flex-direction: column;
}

.layout,
.layout1 #looking {
    width: 246px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    color: #676767;
    padding: 0 20px;
    display: flex;
}

.layout #location {
    background: none;
    border: none;
    color: #676767;
    width: 250px;
    cursor: pointer;
}


.foot button {
    background: none;
    background-color: #FF5722;
    height: 71px;
    margin-top: 24.5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #676767;
    border: none;
}

.foot button:hover {
    cursor: pointer;
    transform: scale(103%);
    box-shadow: 0 0 10px #676767;
}

.hero-footer .foot svg {
    fill: #FFFFFF;
    width: 20.94px;
}


/* UPCOMING EVENTS */

.upcoming-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 44px;
    margin: 100px auto 0 auto;
    padding-left: 100px;
    padding-right: 100px;
}

/* Events Nav */

.up-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 55px;
}

.up-events h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 54.64px;
    text-align: left;
    color: #252D42;
}

.upcoming-events-right {
    display: flex;
    gap: 15px;
}

.upcoming-events .upcoming-events-right .upcoming {
    background: #FF57221A;
    padding: 10px 16px;
    width: 138px;
    height: 39px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 19.12px;
    text-align: left;
}

/* Events Card */

.events {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
    max-height: 1920px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.event-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 14px 11px #00322F0D;
}

.img-cont img {
    width: 350px;
    height: 200px;
}

.txt-cont {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.txt-cont-left {
    margin-top: 7px;
    font-weight: 700;
    line-height: 27.32px;
    text-align: left;
}

.mnth {
    color: #FF5722;
    font-size: 12px;
}

.dte {
    color: #000000;
    font-size: 16px;
}

.txt-cont-right {
    display: flex;
    flex-direction: column;
}

.txt-cont-right h3 {
    color: #252D42;
}

.txt-cont-right p {
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
}

.event-card:hover {
    box-shadow: 0 2px 11px #00322F0D;
    transform: scale(105%);
    transition: 0.3s;
}

.event-card::after {
    transform: scale(-100%);
    transition: 0.5s;
}

.upcoming-events button {
    margin-top: 80px;
    height: 54px;
    width: 183px;
    display: flex;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF5722;
}

.upcoming-events button:hover {
    cursor: pointer;
    transform: scale(95%);
    transition: 0.3s;
    box-shadow: 0 0 9px #FF5722;
}

/* FOOTER */

footer {
    background: #10375C;
    margin-top: 81px;
    padding: 81.8px 161px 0 161px;
}

.footer-content {
    flex-wrap: wrap;
    height: 377.8px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: start;
}

.footer-content .rights {
    margin-top: 50px;
}

.footer-content .social-links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.footer-content .social-links svg {
    cursor: pointer;
    pointer-events: all;
}

/* Right Footer */

.footer-right {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    gap: 50px;
}

.footer-right .company,
.support {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company .info-links a,
.support .support-links a {
    text-decoration: none;
    color: #D9DBE1;
    line-height: 30px;
}

.company .info-links a:hover,
.support .support-links a:hover {
    text-decoration: underline;
}

.news-ltr {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-ltr input {
    padding: 5px 30px;
    opacity: 50%;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.news-ltr ::placeholder {
    font-size: 16px;
    color: #D9DBE1;
    opacity: 100 !important;
}