body {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    background: #F8F9FA;
    overflow-x: hidden;
    min-width: 390px;
  
}

/* NAV-BAR */

.nav {
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    box-shadow: 0 0 10px #cac4c4;
    align-content: center;
}

.nav-bar {
    margin: 0 auto;
    width: 85%;
    background-color: inherit;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 90px;

}

.nav-bar h4 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .right-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    gap: 56px;
    opacity: 0px;
}

.right-pane #lg,
.right-pane #lg:hover,
.right-pane #lg:active,
.right-pane #lg:visited {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #252D42;
    text-decoration: none;
}

.right-pane p {
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.right-pane p:hover {
    cursor: pointer;
    border-color: #FF5722;
    opacity: 70%;
    transition: 0.1s;
}

.right-pane .create-btn {
    display: flex;
    padding: 13px 21px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF5722;
    box-shadow: 0px 1px 4px 0px rgba(148, 138, 138, 0.75);
    transition: all ease-in-out 250ms;
}

.right-pane .create-btn:hover {
    cursor: pointer;
    transform: scale(105%);
    box-shadow: 0px 0px 5px 2px rgba(148, 138, 138, 0.75);
}

#c-btn {
    text-decoration: none;
}

.right-pane #c-btn:hover,
.right-pane #c-btn:active,
.right-pane #c-btn:visited {
    cursor: pointer;
}

/* HERO SECTION */

.hero {
    background-image: url(../images/header-img.png);
    box-sizing: border-box;
    background-position-x: center;
    height: 628px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 835px;
    gap: 20px;
    margin-top: -6rem;
    padding: 0 50px;
}

.hero-section h1 {
    margin-top: 0;
    font-family: Inter;
    font-size: 58px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0
}

.hero-sub-text {
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 27px;
    gap: 10px;
    opacity: 0px;
    color: #FF5722;
}

.hero-sub-text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 27.32px;
    text-align: center;
    text-decoration: underline;
}

.hero-sub-text:hover{
    opacity: 80%;
}

.hero-sub-text svg {
    fill: #FF5722;
    
}

/* Hero Footer */

.hero-footer {
    margin-top: -90px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.foot {
    max-width: 1034px;
    color: #FFFFFF;
    padding: 30px 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: #10375C;
    justify-content: center;
    align-items: end;
    line-height: 50px;
    gap: 24px;
    border-radius: 10px;
    box-shadow: 0 5px 28px #33333340;

}

.what, .when, .loc {
    display: flex;
    flex-direction: column;
    width: 286px;
}

.what p,
.when p,
.loc p {
    margin: 0;
}

.foot input {
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    color: #676767;
    padding: 0 20px;
}

.loc select {
    box-sizing: border-box;
    width: 100%;
    color: #676767;
    height: 45px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    gap: 18.75rem;
    cursor: pointer;
    background-image: url("../images/Polygon\ 7.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.foot input:hover,
.foot select:hover {
    border-color: #FF5722;
}

.foot button {
    background: none;
    background-color: #FF5722;
    border-radius: 10px;
    top: 20px;
    border: none;
    height: 72px;
    width: 84px;
}

.foot button:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: 0.1s;
    box-shadow: 0 0 5px #676767;
}

/* UPCOMING EVENTS */

.upcoming-events{
    margin: 100px auto auto auto;
    padding: 0 7.5%;
}

/* Events Nav */

.up-events {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 85%;
    gap: 10px;
    flex-wrap: wrap;
}



.up-events h2 {
    font-size: calc(3vw + 0vh + 1vmin) !important;
    font-weight: 700;
    color: #252D42;
}

.upcoming-events-right {
    float: right;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.upcoming {
    background: #FF57221A;
    padding: 10px 16px;
    width: 138px;
    height: 39px;
    border: 1px solid #FF57221A;
    border-radius: 4px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 19.12px;
    text-align: left;
    background-image: url("../images/uparrow.svg");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
}

.upcoming:hover {
    cursor: pointer;
    border-color: #000000;
}


/* Events Card */

.ev {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.events {
    display: flex;
    justify-content: center;
    padding: 0 7.5%;
    gap: 40px;
    flex-wrap: wrap;
    max-height: 1520px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.events a,
.events a:active,
.events a:visited {
    text-decoration: none;
    color: #000000;
}

.events a:hover {
    h3 {
       text-decoration: underline;
       text-decoration-thickness: 2px;
    }
}

.event-card a{
    align-items: center;
}

.event-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    min-width: 220px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: 0 14px 11px #00322F0D;
    transition: all ease-in-out 250ms;
}

.img-cont img {
    width: 100%;
    height: 200px;
}

.txt-cont {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.txt-cont-left {
    margin-top: 7px;
    font-weight: 700;
    line-height: 27.32px;
    text-align: left;
}

.mnth {
    color: #FF5722;
    font-size: 12px;
}

.dte {
    color: #000000;
    font-size: 16px;
}

.txt-cont-right {
    display: flex;
    flex-direction: column;
}

.txt-cont-right h3 {
    color: #252D42;
}

.txt-cont-right p {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.12px;
    text-align: left;
}

.event-card:hover {
    box-shadow: 0 2px 11px #00322F0D;
    transform: scale(105%);
}


.btn {
    margin: 80px auto 0 auto;
    height: 54px;
    width: 183px;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    color: #FFFFFF;
    background-color: #FF5722;
    transition: all ease-in-out 250ms;
    box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .75);
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: 0.2s;
    box-shadow: 0px 18px 8px -10px rgba(0, 0, 0, .75);
}

/* FOOTER */

footer {
    background: #10375C;
    margin-top: 81px;
    padding: 81.8px 7.5%;
}

.footer-content {
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content .rights {
    margin-top: 50px;
}

.footer-content .social-links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.footer-content .social-links svg {
    cursor: pointer;
    pointer-events: all;
}

/* Right Footer */

.footer-right {
    display: flex;
    color: #FFFFFF;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-right .company,
.support {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company .info-links a,
.support .support-links a {
    text-decoration: none;
    color: #D9DBE1;
    line-height: 30px;
}

.company .info-links a:hover,
.support .support-links a:hover {
    text-decoration: underline;
}

.news-ltr {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-fill input {
  background: none;
  border: none;
  color: #667085;
  padding: 5px 10px;
  width: 90%;
}

.news-fill ::placeholder {
    font-size: 16px;
    color: #667085;
}

.news-fill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 5px 10px;
    height: 40px;
    gap:30px;
    border: none;
    border-radius: 8px;
    background: #3f709e71;
}

.news-fill button {
    background:none;
    border: none;
    transition: all ease-in-out 150ms;
}

.news-fill button:hover {
    cursor: pointer;
    transform: scale(105%);
}

/* Responsiveness */

@media(max-width: 679px) {
    .footer-content, .footer-right  {
        display: grid;
    }
}

@media(min-width: 450px) {
    #nav-btn {
        display: none;
    }
}

@media(max-width: 450px) {
    .right-pane, 
    .footer-left .rights, 
    .footer-left .social-links, 
    .info-links, 
    .support-links {
        display: none !important;
    }

    footer {
        padding: 24px 16px 24px 16px !important;
    }

    .footer-right {
        gap: 0px;
        width: 330px;

        h3 {
            font-weight: 200;
        }

        .news-ltr {
            gap: 10px;
        }

        .news-fill {
            width: 100%;
        }

    }
}

@media(min-width: 450px) {
    .upcoming {
        background-position: calc(100% - 10px) center;
    }
}

@media(max-width: 430px) {
    .up-events {
        width: 350px;
        justify-content: left;
        margin: inherit auto;
    }

    .upcoming-events-right, .upcoming {
        width: 100% !important;
    }
}

@media (max-width: 582px) {
    .ev{
        margin-top: 32px !important;
    }
}

@media (max-width: 739px){
    .up-events {
        justify-content: center;
    }

    .btn {
        width: 350px !important;
        text-align: center !important;
    }
}

@media (max-width: 1134px) {
    .what, .when, .loc {
        width: 250px;
    }
}

@media (max-width: 1020px) {
    .what, .when, .loc {
        width: 220px;
    }
}
@media (max-width: 932px) {
    .what, .when, .loc {
        width: 200px;
    }
}

@media (max-width: 870px) {
    .foot {
        display: grid;
        gap: 0px;
        padding: 15px 5px;
        width: 343px !important;
    }

    .what, .when, .loc {
        width: 286px;
    }

    .foot button {
        width: 286px;
        height: 44px;
        margin-top: 20px;
        border-radius: 4px;
    }

    .hero-footer {
        margin-top: -180px!important;
    }

    .hero {
        height: 480px;
        h1 {
            font-size: 40px;
        }
        .hero-section {
            width: 540px !important;
            margin-top: -100px;
        }
    }
}
@media (max-width: 552px) {
    .hero-section {
        margin-top: -150px !important;
    }
}

@media (max-width: 435px) {
    .hero-section h1 {
        font-size: 32px;
    }
}