body {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    background: #F8F9FA;
    overflow-x: hidden;
    min-width: 350px;
}

/* NAV-BAR */

.nav {
    width: 100%;
    max-width: 1440px;
    position: fixed;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
    box-shadow: 0 0 10px #cac4c4;
    align-content: center;
}

.nav-bar {
    margin: 0 auto;
    width: 85%;
    background-color: inherit;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 90px;
}

.nav-bar h4 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .right-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    gap: 56px;
    opacity: 0px;
}

.right-pane #lg,
.right-pane #lg:hover,
.right-pane #lg:active,
.right-pane #lg:visited {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #252D42;
    text-decoration: none;
}

.right-pane p {
    padding: 3px 5px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
}

.right-pane p:hover {
    cursor: pointer;
    border-color: #FF5722;
    opacity: 70%;
    transition: 0.1s;
}

.right-pane .create-btn {
    display: flex;
    padding: 13px 21px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF5722;
    box-shadow: 0px 1px 4px 0px rgba(148, 138, 138, 0.75);
    transition: all ease-in-out 250ms;
}

.right-pane .create-btn:hover {
    cursor: pointer;
    transform: scale(105%);
    box-shadow: 0px 0px 5px 2px rgba(148, 138, 138, 0.75);
}

#c-btn {
    text-decoration: none;
}

.right-pane #c-btn:hover,
.right-pane #c-btn:active,
.right-pane #c-btn:visited {
    cursor: pointer;
}

/* HERO SECTION */

.hero {
    margin-top: 90px;
    background-image: url(../images/event-hero.png);
    background-size: cover;
    height: 21.75rem;
}

.hero-section {
    width: 100%;
    display: flex;
}

/* @media screen and  (max-width: 552px) {
    .hero-section {
        margin-top: -150px !important;
    }
} */

@media screen and  (max-width: 435px) {
    .hero-section h1 {
        font-size: 32px;
    }
}

@media screen and  (max-width: 647px) {
    .hero-section h1 {
        font-size: 3rem !important;
}
}
.hero-left {
    margin-top: 56px;
    padding: 0 6.25em;
}

.hero-left .go-back a {
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: none;
}

.hero-left .go-back a:hover,
.hero-left .go-back a:active,
.hero-left .go-back a:visited {
    cursor: pointer;
}

.hero-left h1 {
    width: 100%;
    font-size: 3.625rem;
    font-weight: 400;
    line-height: 81.2px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

/* CHECKOUT MAIN */

.checkout-main {
    padding: 0 6.25rem;
    margin-top: 3.75rem;
}

.checkout-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-title h2 {
    font-size: 56px;
    font-weight: 700;
    line-height: 76.5px;
    color: #000000;
    margin-bottom: 0;
}

#countdown {
    font-size: 13px;
    font-weight: 200;
    line-height: 21.86px;
    color: #252D424A;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    background: #F2F4F7;
    border: 1px solid #98A2B3;
    border-radius: 4px;
}

.fm {
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.form-details {
    margin-top: 3.125rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

.form-details #ci {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    text-align: left;
    color: #000000;
}


fieldset {
    width: 100%;
    background: #F2F4F7;
    border: 1px solid #252D424A;
    border-radius: 4px;
}

fieldset:hover {
    border-color: #10375C;
    box-shadow: 0 0 10px #FFFFFF;
}

legend {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.15000000596046448px;
    color: #252D42;
    padding: 2px;
    background: #F2F4F7;
    border-radius: 2px;
}

input {
    height: 2.375rem;
    width: 100%;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #252D42;
}

::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    opacity: 40%;
}

.ticket-summary {
    width: 45%;
    background: #00322F08;
    border-radius: 10px;
}

.tk-det {
    padding: 30px;
    border-bottom: 1px solid #C4C4C4;
}

.tk-det h3 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    text-align: left;
    color: #000000;
}

.attendees {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.attendees #at {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.86px;
    color: #000000;
}

.attendees #a-num {
    font-size: 22px;
    font-weight: 500;
    line-height: 30.05px;
    color: #000000;
}

#tk-d {
    display: flex;
    flex-direction: column;
}

#tk-d p {
    margin: 10px;
}

.d-and-t {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.d-and-t p {
    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 30.05px;
    color: #000000;
}

.tk-de {
    padding: 30px;
}

#tot {
    display: flex;
    justify-content: space-between;
}

#tot h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.71px;
}

.tk-de button {
    text-align: center;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #FF5722;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    height: 3.5rem;
    cursor: pointer;
}

.tk-de button:hover {
    transform: scale(102%);
    transition: 0.1s;
}

/*MODAL  */

.modal-container {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(2px);
    padding: 20px;
    z-index: 9999;
    top: 0;
    height: 100vh;
    left: 0;
}

.modal-wrapper {
    padding: 40px;
    border-radius: 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.pre-wrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.delete {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    padding-right: 20px;
    padding-top: 10px;
}

.modal-wrapper header {
    display: flex;
    flex-direction: column;
}

.modal-wrapper header h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: #101828;
    margin: 0;
}

.modal-wrapper header p {
    margin: 10px 0 0 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #98A2B3;
}

.payment {
    display: flex;
    flex-direction: column;
}

.payment label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #101828;
    margin-bottom: 10px;
}

.payment select {
    width: 100%;
    height: 44px;
    padding: 12px 16px;
    gap: 18.75rem;
    border: 1px solid #D0D5DD;
    border-radius: 6px;
    opacity: 0px;
    background-image: url("../images/arrow\ down.svg");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    color: #98A2B3;
}

.payment select:hover,
.payment button:hover {
    cursor: pointer;
}

.payment select option {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: default;
    color: #101828;
}

.payment button {
    margin-top: 32px;
    width: 100%;
    height: 44px;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    background: #FF5722;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.4px;
    letter-spacing: 0.15000000596046448px;
    color: #FFFFFF;
}

.payment button:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: 0.1s;
}

.hidden {
    display: none;
}

.delete {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}

.del-x {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.del-x:hover,
.del-x:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.1s;
}



/* FOOTER */

footer {
    background: #10375C;
    margin-top: 81px;
    padding: 81.8px 7.5%;
}

.footer-content {
    flex-wrap: wrap;
    height: fit-content;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-content .rights {
    margin-top: 50px;
}

.footer-content .social-links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.footer-content .social-links svg {
    cursor: pointer;
    pointer-events: all;
}

/* Right Footer */

.footer-right {
    display: flex;
    color: #FFFFFF;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-right .company,
.support {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company .info-links a,
.support .support-links a {
    text-decoration: none;
    color: #D9DBE1;
    line-height: 30px;
}

.company .info-links a:hover,
.support .support-links a:hover {
    text-decoration: underline;
}

.news-ltr {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-fill input {
  background: none;
  border: none;
  color: #667085;
  padding: 5px 10px;
  width: 90%;
}

.news-fill ::placeholder {
    font-size: 16px;
    color: #667085;
}

.news-fill {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 5px 10px;
    height: 40px;
    gap:30px;
    border: none;
    border-radius: 8px;
    background: #3f709e71;
}

.news-fill button {
    background:none;
    border: none;
    transition: all ease-in-out 150ms;
}

.news-fill button:hover {
    cursor: pointer;
    transform: scale(105%);
}

#extra {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 0;
}

hr {
    width: 100%;
    height: 1px;
    background: #3f709e71;
    margin: 0;
    border: none;
}

.rgt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.rigt-dsp {
    margin: 0 !important;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
        font-weight: 100;
        margin: 0;
    }
}

#extra .social-links {
    margin: 0 !important;
}
/* Responsiveness */

@media screen and (max-width: 679px) {
    .footer-content, .footer-right  {
        display: grid;
        width: 400px;
    }
}

@media screen and (min-width: 451px) {
    #nav-btn, #extra, hr {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .right-pane, 
    .footer-left .rights, 
    .footer-left .social-links, 
    .info-links, 
    .support-links {
        display: none !important;
    }

    footer {
        width: 100%;
        padding: 24px 12px 24px 12px !important;
    }

    .footer-right {
        gap: 0px;
        width: 420px;

        h3 {
            font-weight: 200;
        }

        .news-ltr {
            gap: 10px;
        }
    }
}
@media screen and (max-width: 445px) {
    .footer-right {
        width:410px ;
    }
}

@media screen and (max-width: 431px) {
    .footer-right {
        width:405px ;
    }
}

@media screen and (max-width: 425px) {
    .footer-right {
        width:390px ;
    }
}

@media screen and (max-width: 413px) {
    .footer-right {
        width:370px ;
    }
}

@media screen and (max-width: 395px) {
    .footer-right {
        width:360px ;
    }
}

@media screen and (max-width: 380px) {
    .footer-right {
        width:340px ;
    }
}

@media screen and (max-width: 362px) {
    .footer-right {
        width:330px ;
    }
}

@media screen and (max-width: 350px) {
    .footer-right {
        width:325px ;
    }
}