body {
    font-family: "Manrope", sans-serif;
    margin: 0;
}

main {
    margin: 0 auto;
    max-width: 1440px;
    background: #F8F9FA;
}

/* NAV-BAR */

.nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    z-index: 9999;
}

.nav-bar {
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    display: flex;
    height: 90px;
    box-shadow: 0 0 10px #cac4c4;
}

.nav-bar h4 a {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.78px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.nav-bar .right-pane {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 54px;
    gap: 56px;
    opacity: 0px;
}

.right-pane #lg {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #252D42;
    text-decoration: none;
}

.right-pane #lg:hover,
.right-pane #lg:active,
.right-pane #lg:visited {
    cursor: pointer;
    opacity: 70%;
}

.right-pane .create-btn {
    display: flex;
    padding: 16px 24px;
    gap: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.86px;
    text-align: left;
    color: #FFFFFF;
    background-color: #FF5722;
}

.right-pane .create-btn:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: 0.3s;
}

#c-btn {
    text-decoration: none;
}

.right-pane #c-btn:hover,
.right-pane #c-btn:active,
.right-pane #c-btn:visited {
    cursor: pointer;
}


/* FORGOT PASSWORD FORM */
.forgot-password-main {
    width: 100%;
    background: #F8F9FA;
}

.forgot-password {
    display: flex;
    width: 100%;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
}

.forgot-password-left {
    padding-bottom: 2.5rem;
    padding-left: 6.25em;
    width: 45%;
}

.fp-left-top h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 43.71px;
    text-align: left;
    margin-bottom: 0;
    color: #252D42;
}

.fp-left-top p {
    width: 70%;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    margin-top: 0;
    color: #252D42;
}

.fp-form {
    margin-top: 80px;
}

.fp-form fieldset {
    border: 1px solid #252D424A;
    border-radius: 4px;
}

fieldset:hover {
    border-color: #10375C;
    box-shadow: 0 0 10px #FFFFFF;
}

.fp-form fieldset input {
    width: 100%;
    border: none;
    height: 30px;
    background: #F8F9FA;
    font-size: 16px;
}

.fp-form fieldset input::placeholder {
    opacity: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

form button {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background: #FF5722;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
}

form button:hover {
    cursor: pointer;
    transform: scale(101%);
    transition: 0.1s;
}

.forgot-password img {
    width: 50%;
}

/* FOOTER */

footer {
    background: #10375C;
    margin-top: 0;
    padding: 81.8px 161px 0 161px;
}

.footer-content {
    margin: 0 auto;
    flex-wrap: wrap;
    height: 394px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: start;
}

.footer-content .rights {
    margin-top: 50px;
}

.footer-content .social-links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 30px;
}

.footer-content .social-links svg {
    cursor: pointer;
    pointer-events: all;
}

/* Right Footer */

.footer-right {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    gap: 50px;
}

.footer-right .company,
.support {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.company .info-links a,
.support .support-links a {
    text-decoration: none;
    color: #D9DBE1;
    line-height: 30px;
}

.company .info-links a:hover,
.support .support-links a:hover {
    text-decoration: underline;
}

.news-ltr {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.news-ltr input {
    padding: 5px 30px;
    opacity: 50%;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.news-ltr ::placeholder {
    font-size: 16px;
    color: #D9DBE1;
}